/* starting variables for the site */
 /*:root {
  --white: #f9faff;
  --platinum: #e3e4e8;
  --windsurfing: #32779b;
  --marina: #5a91c7;
  --gray: #9a9a9a;
  --onyx: #3c3d44;
  --charcoal: #343c47;
  --corners: 24px 0;
  --corners-sm: 10px 0;
  --base-font-size: 1rem;
}
/* set the box sizing to border-box for layouts *//*
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
/* Basic page set to our font size and font family. Link to the font family in CodePen under Settings - CSS - External stylesheets and pens. *//*
body {
  font-size: var(--base-font-size);
  font-family: "Inter", sans-serif;
  background-color: var(--platinum);
  color: var(--onyx);
}
/* make sure images don't exceed the width of the window */ /*
img {
  max-width: 100%;
  border-radius: var(--corners);
}
h1 {
  font-size: calc(var(--base-font-size) * 2.9);
  margin: 0;
}
h2 {
  font-size: var(--base-font-size);
  text-transform: uppercase;
  color: var(--windsurfing);
  letter-spacing: 0.25em;
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  line-height: 1.5;
}
a {
  color: var(--windsurfing);
}
a:hover {
  color: var(--marina);
}
/* svg styling *//*
.icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}
ul svg {
  width: 36px;
  height: 36px;
}
.social {
  fill: var(--windsurfing);
}
.social:hover {
  fill: var(--marina);
}
/* mobile layout for bio *//*
.main-article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  text-align: center;
}
.main-article img {
  object-fit: cover;
  object-position: top;
  height: 175px;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
}
/* footer *//*
footer {
  text-align: center;
}
.footer-text {
  color: var(--ld-text);
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.footer-text h3 {
  font-size: calc(var(--base-font-size) * 0.85);
}
.footer-text-box ul {
  font-size: calc(var(--base-font-size) * 0.85);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-text-box li {
  line-height: 2;
}
.h2-footer {
  margin: 2rem 0;
}
.footer-text .social {
  fill: var(--ebony);
}
.footer-text .social:hover {
  fill: var(--marina);
}
/*ptoject section*//*
main{
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
.project{
    background-color: var(--white);
    padding:3rem;
    border-radius: var(--corners);
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    width:30%;
}
.projects {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;  
}
.projects ul {
    margin: 0;
    padding:0;
    list-style-type: none;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    gap: 1rem;
}
.projects li {
    background-color: var(--marina);
    color: var(--white);
    padding: 0.5rem;
    border-radius:var(--corners-sm) ;
    font-size: calc(var(--base-font-size) * 0.85);
}
.text{
  background-color: white;
}
.img-border {
  border: 1px solid var(--onyx);
}
@media (min-width: 850px) {
  main {
    text-align: left;
  }
  .projects {
    grid-template-columns: 1fr 1fr;
  }
  .projects img{
    grid-row: auto;
  }
  .projects ul {
    justify-content: flex-start;
  }
}
*/



/* starting variables for the site */
:root {
  --white: #f9faff;
  --platinum: #e3e4e8;
  --windsurfing: #32779b;
  --marina: #5a91c7;
  --gray: #9a9a9a;
  --onyx: #3c3d44;
  --charcoal: #343c47;
  --corners: 24px 0;
  --corners-sm: 10px 0;
  --base-font-size: 1rem;
}
/* set the box sizing to border-box for layouts */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
/* Basic page set to our font size and font family. Link to the font family in CodePen under Settings - CSS - External stylesheets and pens. */
body {
  font-size: var(--base-font-size);
  font-family: "Inter", sans-serif;
  background-color: var(--platinum);
  color: var(--onyx);
}
/* make sure images don't exceed the width of the window */
img {
  max-width: 100%;
  border-radius: var(--corners);
}
h1 {
  font-size: calc(var(--base-font-size) * 2.9);
  margin: 0;
}
h2 {
  font-size: var(--base-font-size);
  text-transform: uppercase;
  color: var(--windsurfing);
  letter-spacing: 0.25em;
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  line-height: 1.5;
}
a {
  color: var(--windsurfing);
}
a:hover {
  color: var(--marina);
}
/* svg styling */
.icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}
ul svg {
  width: 36px;
  height: 36px;
}
.social {
  fill: var(--windsurfing);
}
.social:hover {
  fill: var(--marina);
}
/* mobile layout for bio */
.main-article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  text-align: center;
}
.main-article img {
  object-fit: cover;
  object-position: top;
  height: 175px;
  width: 100px;
  overflow: hidden;
  margin: 0 auto;
}
/* projects */
main {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.projects {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
}
.project {
  background-color: var(--white);
  padding: 3rem;
  border-radius: var(--corners);
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;

}
.project ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}
.project li {
  background-color: var(--marina);
  color: var(--white);
  padding: 0.5rem;
  border-radius: var(--corners-sm);
  font-size: calc(var(--base-font-size) * 0.85);
}
.project img {
  grid-row: 1/2;
  width:600px;
  height: 600px;
}
.img-border {
  border: 1px solid var(--onyx);
}

.text p {
  width: 390px;
}
/* footer */
footer {
  text-align: center;
}
.footer-text {
  color: var(--ld-text);
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.footer-text h3 {
  font-size: calc(var(--base-font-size) * 0.85);
}
.footer-text-box ul {
  font-size: calc(var(--base-font-size) * 0.85);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-text-box li {
  line-height: 2;
}
.h2-footer {
  margin: 2rem 0;
}
.footer-text .social {
  fill: var(--ebony);
}
.footer-text .social:hover {
  fill: var(--marina);
}
@media (min-width: 750px) {
  :root {
    --base-font-size: 1.125rem;
  }
  h1 {
    margin-left: -3px;
  }
  .wrapper {
    padding: 5rem;
  }
  .main-article {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
  }
  .main-article img {
    max-height: 400px;
    margin: 0 0 0 auto;
    object-fit: none;
    object-position: none;
    height: auto;
    width: auto;
    overflow: auto;
  }
  .icons {
    justify-content: flex-start;
  }
  footer {
    text-align: left;
  }
  .footer-text {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-text .icons {
    grid-column: 1/4;
  }
}
@media (min-width: 850px) {
  main {
    text-align: left;
  }
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .project img {
    grid-row: auto;
  }
  .project ul {
    justify-content: flex-start;
  } 
}